project_name       = "retail-lakehouse"
environment        = "dev"
aws_region         = "us-east-1"
bronze_bucket_name = "retail-lakehouse-bronze-dev"
silver_bucket_name = "retail-lakehouse-silver-dev"
gold_bucket_name   = "retail-lakehouse-gold-dev"
redshift_namespace = "retail-lakehouse-ns"
redshift_workgroup = "retail-lakehouse-wg"
alert_email        = "alerts@example.com"
